{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block main %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/registration/login.css' %}">

<div class="container mt-3">
    <div class="row d-flex justify-content-center">
       <div class="col-12 col-lg-3">
          <div class="mt-3">
            <h1 class="text-h1 font-color text-center title">Shelf</h1>
          </div>

          <div class="mt-3 logForm">
            <h3 class="text-h1 font-color text-center pt-2">Авторизация</h3>

              <form class="mt-3 justify-content-center" name="login_form" id="login_form" method="post" action="{% url 'login' %}">
                {% csrf_token %}

                <div class="mb-3 inputBox">
                    <label for="exampleInputEmail1" class="text-h2 font-color">Логин или Email:</label>
                    <input name ="username" type="username" class="form-control">
                </div>

                <div class="inputBox">
                    <label for="exampleInputPassword1" class="text-h2 font-color">Пароль:</label>
                    <input name="password" type="password" class="form-control">
                </div>

                <div class="lostPas">
                  <a href="{% url 'password_reset' %}">
                    Забыли пароль?
                  </a>
                </div>

                <div class="valid inputBox mb-1">
                  {% if form.errors %}
                  <div>Неверный пароль или логин.<br>(Оба поля чувствительны к регистру)</div>
                  {% endif %}
                </div>

                {% if error %}
                    <h6 class="text-danger">{{ error }}</h6>
                {% endif %}

                {% if next %}
                  {% if user.is_authenticated %}
                    <p>Ваша учетная запись не имеет доступа к этой странице. Чтобы продолжить,
                      пожалуйста, войдите в систему с учетной записью, у которой есть доступ.</p>
                  {% else %}
                    <p>Пожалуйста, войдите в систему, чтобы увидеть эту страницу.</p>
                  {% endif %}
                {% endif %}

                <div class="d-flex justify-content-center">
                  <div class="mb-3">
                    <button type="submit" class="btn btn-info mt-1" value="login">Войти</button>
                  </div>
                </div>


            </form>

            <div class="reg pb-1 pt-4">
              <a href="{% url 'register' %}">
                Ещё нет аккаунта? Зарегестрируйтесь!
              </a>
            </div>

          </div>

         

           
       </div>
    </div>
</div>

{% endblock %}