{% extends 'base.html' %}

{% block title %}{{ book.name }}{% endblock %}

{% block main %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/main/book.css' %}">
        



<!-- Изменение книги -->
<div class="container-fluid blockBookUpdate" style="width: 100%; display: none;" id="updateBook">
    <div class="row d-flex justify-content-center mt-1 updateBox">
      <div class="exitButton"><div class="exitSumbol" onclick="closeUpdateBookForm()">✖</div></div>
      <form method="post" enctype="multipart/form-data" style="width: 96vw; margin-left: 3%;">
        {% csrf_token %}
        <div class="label">Название:</div>
        <div class="inputUpdate">{{ formUpdateBook.name }}</div><br>
        <button type="button" class="btn btn-info hint" data-bs-toggle="tooltip" data-bs-placement="left" title="Зажми CTRL и нажимай на жанры, если хочешь выбрать несколько">
        <div class="hintSumbol">?</div>
        </button><br>
        <div class="label">Жанры:</div>
        <div class="inputUpdate">{{ formUpdateBook.bookGenres }}</div><br>
        <div class="label">Обложка:</div>
        <div class="inputUpdate">{{ formUpdateBook.cover }}</div><br>
        <div class="label">Краткое описание сюжета:</div>
        <div class="inputUpdate">{{ formUpdateBook.shortDescription }}</div><br>
        <div class="label">Комментарий автора:</div>
        <div class="inputUpdate">{{ formUpdateBook.description }}</div><br>
        <div class="label">Тематика:</div>
        <div class="inputUpdate">{{ formUpdateBook.topic }}</div><br>
        <input class="btn btn-info" style="margin-left: 32%;" name="userDataUpdate" type="submit" value="Изменить">
      </form>
    </div>
  </div>

    <!-- ❤️ -->
   
    <div class="container-fluid head">
        <div class="row d-flex justify-content-left">
            <h1 class="text-h1 font-color text-center title">{{ book.name }}</h1>
            <h3 class="text-h1 font-color text-center autorName">{{ book.autor.first_name }}</h3>
        </div>
    </div>

    <div class="booksConteinerMain">
        <div class="container-fluid booksConteiner">
            <div class="text-h1 font-color text-start"><b>Жанр(ы): </b>
                {% for elem in book.bookGenres.all %}
                    {{ elem }}{% if forloop.last == False %},{% else %}.{% endif %}
                {% endfor %}
            </div>
            <div class="text-h1 font-color text-start"><b>Тематика: </b>{{ book.topic }}.</div>
            <div class="text-h1 font-color text-start"><b>Возрастное ограничение: </b>{{ book.ageLimit }}+</div>
            <div class="text-h1 font-color text-start"><b>Комментарий автора: </b>{{ book.description }}</div>
            <div class="text-h1 font-color text-start"><b>Краткое описание сюжета: </b>{{ book.shortDescription }}</div>  

            <div class="container-fluid booksConteiner" style="display: flex; border: none; margin-top: 10px; margin-bottom: 0; width: 100%; padding: 0;">
            
                <!-- Кнопка лайка книги -->
                    <form method="post" class="likeAndPublish">
                        {% csrf_token %}
                        <input class="btn btn-info" style="margin-top: 10px;" name="likeBookBtn" type="submit" value="❤️">
                    </form>
    
                {% if book.published == False %}
                    <button class="likeAndPublish btn btn-info" style="height: 2vw; margin-top: 10px;"><a style="text-decoration: none; color:black" href="{% url 'createChapter' bookId=book.id %}">Добавить главу</a></button>
                {% endif %}
    
                {% if book.published == False %}
                    {% if current_user == book.autor %}
                    <button class="likeAndPublish btn btn-info" style="height: 2vw; margin-top: 10px;" onclick="openUpdateBookForm()">Изменить книгу</button>
                    {% endif %}
                {% endif %}

                {% if book.published == False %}
                    {% if current_user == book.autor %}
                    <button class="likeAndPublish btn btn-info" style="height: 2vw; margin-top: 10px;" onclick="openPushBookForm()">Опубликовать</button>
                    {% endif %}
                {% endif %}

                {% if current_user == book.autor %}
                <button class="likeAndPublish btn btn-info" style="height: 2vw; margin-top: 10px;" onclick="openDeleteBookForm()">Удалить книгу</button>
                {% endif %}

                <div class="container-fluid blockBookAlarm" style="width: 100%; display: none;" id="pushBook">
                    <div class="row d-flex justify-content-center mt-1 alarmBox">
                        <!-- Публикация -->
                        <h1>Внимание!</h1>
                        Убедитесь что вы закончили писать книгу,
                        книгу будут видеть другие пользователи.
                        После публикации книги вы не сможете её изменять, будет доступно только удаление.
                        <div style="display: flex;">
                            <button class="likeAndPublish btn btn-info" style="height: 2vw; margin-top: 10px;" onclick="closePushBookForm()">Отмена</button>
                            {% if current_user == book.autor %}
                            <form method="post">
                                {% csrf_token %}
                                <input class="btn btn-info" style="margin-top: 10px;" name="public" type="submit" value="{{ btnValueFalse }}">
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="container-fluid blockBookAlarm" style="width: 100%; display: none;" id="deleteBook">
                    <div class="row d-flex justify-content-center mt-1 alarmBox" style="display: flex;">
                        <!-- Удалить книгу -->
                        <h1>Внимание!</h1>
                        Подумайте, прежде чем удалять. После удаления книги вы не сможете её вернуть, вам придйтся создавать её заново.
                        Если вы хотите сохранить данные, перенесите к себе на компьютер.
                        <div style="display: flex;">
                            <button class="likeAndPublish btn btn-info" style="height: 2vw; margin-top: 10px;" onclick="closeDeleteBookForm()">Отмена</button>
                            {% if current_user == book.autor %}
                            <form method="post">
                                {% csrf_token %}
                                <input class="btn btn-info" style="margin-top: 10px;" name="deleteBook" type="submit" value="Удалить">
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>      
    
            </div>
        </div>
    </div>     

    {% if book.published == True %}
        <div class="booksConteinerMain">
            <div class="container-fluid booksConteiner">
                <div class="commentList">
                    <form class="commentForm" method="post">
                        {% csrf_token %}
                        <div style="margin-left: 1%;">Оставить комментарий:</div>
                        {{ formComment.text }}</br>
                        <div class="btnBox"><input class="btn btn-info" name="comment" type="submit" value="Отправить"></div>
                    </form>
                </div>
                {% for el in commentsBook %}
                    <div class="commentList">
                        <div class="commentHead">
                            <div class="commentAutor">{{ el.user.first_name }}:</div>
                            <div class="commentDateTime">{{ el.date }}</div>
                        </div>
                        <p>{{ el.text }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="booksConteinerMain">
        <div class="container-fluid booksConteiner">
            {% for el in bookChapters %}
                <div class="chapterBox">

                    <div class="screensaverBox">
                        <img src="/media/{{ el.screensaver }}" class="screensaver">
                        <div class="shadowImg"></div>
                    </div>

                    <h1 class="text-h1 font-color text-center bookName">{{ el.name }}</h1>
                    
                    <div class="chapterControl">
                        {% if book.published == False %}
                        <button class="chapterControlBtns btn btn-info"><a href="{% url 'updateChapter' bookId=book.id chapterId=el.id %}">Изменить</a></button>
                        <button class="chapterControlBtns btn btn-info" onclick="openDeleteChapterForm()">Удалить</button>
                        
                        <div class="container-fluid blockBookAlarm" style="width: 100%; display: none;" id="deleteChapter">
                            <div class="row d-flex justify-content-center mt-1 alarmBox" style="display: flex;">
                                <!-- Удалить главу -->
                                <h2>Вы точно хотите удалить главу?</h2>
                                <div style="display: flex;">
                                    <button class="likeAndPublish chapterControlBtns btn btn-info" style="height: 2vw; margin-top: 10px;" onclick="closeDeleteChapterForm()">Отмена</button>
                                    <button class="likeAndPublish chapterControlBtns btn btn-info"><a href="{% url 'deleteChapter' bookId=book.id chapterId=el.id %}">Удалить</a></button>
                                </div>
                            </div>
                        </div> 

                        {% endif %}
                    </div>
                    
                    <div class="textChapter">{{ el.text|linebreaks }}</div>
                    
                    
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="{% static 'js/book/book.js' %}"></script>

{% endblock %}