{% extends 'base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block main %}
{% load static %}
  <div class="container mt-3">
    <div class="row d-flex justify-content-center">
       <div class="col-12 col-lg-3">
          <div class="mt-3">
            <h1 class="text-h1 font-color text-center title">Shelf</h1>
          </div>

          <div class="mt-3 logForm">
            <h3 class="text-h1 font-color text-center pt-2">Пароль изменен</h3>

            <div class="mt-3 justify-content-center">
              <p class="resetText pb-3">Поздравляем! Вы успешно изменили пароль своего аккаунта. Используйте его для
                <a href="{% url 'login' %}">входа в систему</a>.</p>
                </div>

          </div>     
       </div>
    </div>
</div>

<link rel="stylesheet" href="{% static 'css/registration/login.css' %}">

{% endblock %}
